* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 background-color: rgb(74 84 105);
    color: white;
    
}

#main {
    /* background-image: linear-gradient(to right, rgb(107 117 138), rgb(161 186 186)); */
    width: 100%;
    background-color:rgb(74 84 105);

    /* background-color: r */
    /* height: 50%; */
    /* height: 90vh; */
    padding-bottom: 40px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgb(17 39 85);
    display: flex;
    flex: wrap;
    align-items: center;
    color: whitesmoke;
    justify-content: space-between;
}

.left-col-head {

    width: 50%;
    color: white;
    background-color: transparent;
    /* justify-content: center; */
    flex-basis: 50%;
    margin: 5px;
    /* background-color: blue; */
    display: flex;


    justify-content: center;



}

.left-col-head h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    background-color: transparent;
    /* background-color: rgb(68 84 135);
     */
}


.right-col-head {
    flex-basis: 50%;
    background-color: transparent;


    /* background-color: blue; */
    width: 50%;
    display: flex;
    justify-content: center;


}

.right-col-head h4 {
    background-color: transparent;
}

/* hero */
.hero{
    display: flex;
    justify-content: center;
    background-color: transparent;

}
.hero-image{
    background-image: url(images/hero2.jpg);
    background-size: cover;
    margin-top: 10px;
    width: 80%;
    height: 350px;
    
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    
  
}

.right-col-hero{
    background-color: transparent;
    /* background-color: rgb(58, 148, 94); */

    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
    
    width: 50%;
    height: 100%;
    z-index: 2;
   
}
.right-col-hero h1{
    /* display: flex;
    justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: transparent;


    color: white;
}
.hero-txt{
    width: 80%;
    margin-top: 20px;
    background-color: transparent;
    margin-left: 20px;

}

.hero-txt p{
  
   
   background-color: transparent;
width: 80%;
    color: white;
    vertical-align: middle;
    display: table-cell;
    z-index: -1;
   
}
.hero-txt .btnMain{
    background-color: blue ;
    border-radius: 5px;
    border: 2px solid black;
    padding: 4px
    ;
 
}

/* about */
#about{
   
   width: 100%;
    margin-bottom: 20px;
   /* background-color: rgb(63, 63, 63); */
    /* background-image: linear-gradient(to right, rgb(14 58 143), rgb(172, 139, 183)); */
   
   
    
}
.about-main-head{
    /* width: 80%; */
    display: block;
    margin-top: 50px;
    margin-left: 120px;
    
    /* text-align: center; */
    /* align-items: center; */
}
.about-head-clip{
    color: blue;
    margin-top: 10px;
    margin-bottom: 30px;
}
.about-head-sec{
padding-top: 2px;
margin-left: 5px;

}
.about-h4{
    margin-left: 130px;
}
.about-paragraph-top{
    margin-left: 130px; 
    margin-right: 130px; 
}
.main-career{
    /* width: 100%; */
    display: flex;
    margin-left: 130px;
    margin-right: 130px;
    flex-wrap: wrap;

    justify-content: space-between;
}
.career-left{
    width: 50%;
}
.career-right{
    width: 50%;
    /* margin-left: 50px; */
}
.career-right img{
    margin: 5px;
    background-color: aqua;
    width: 80px;
    height: 60px;
    padding: 5px;
    

}
.career-row{
    /* width: 80%; */
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left-col button{
display: block;
width: 300px;
margin: 5px;
border: none;
border-radius: 5px;
padding: 3px;
background-color: rgb(120, 141, 188);

}
.clip-h2{
    margin-bottom: 10px;
}
#contact{
    margin-top: 100px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.contact-para{
    width: 50%;
    
}
.contact-social{
    width: 50%;
}
.contact-social img{
    width: 80px;
    height: 70px;
    margin: 5px;
}
#hobby{
    display: flex;
    justify-content: space-between;
    margin: 50px 130px;
}
#hobby .hobbi-one {
border: 2px solid blue;
border-radius: 5px;
margin: 5px;
padding: 5px;

}
.hobbi-one{
    
}